*{
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.primera-linea{
    display: flex;
}

.segunda-linea{
    display: flex;
}

.flag{
    height: 250px; 
    width: 425px;
    border: solid rgb(128, 128, 128) 1px;
    margin: 30px;
    display: flex;
}

.dinamarca-order{
    display: block;
}

.espana{
    background-color: red;
}

.espana-content{
    background-color: yellow;
    height: 100px;
    width: 100%;
    align-self: center;
}

.dinamarca{
    background-color: #ffff;
    display: inline-flex;
    }

.dinamarca-content1{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 130px;
    
}

.dinamarca-content2{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 240px;
    margin-left: 53px;
}

.dinamarca-content3{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 130px;
    margin-top: 44px;
}

.dinamarca-content4{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 240px;
    margin-left: 53px;
    margin-top: 44px;
}

.emiratos-arabes{
    display: inline-block;
}
.ea-content1{
    background-color: red;
    height: 248px;
    width: 100px;
}

.ea-content2{
    background-color: rgb(25, 100, 18);
    height: 80px;
    width: 323px;
    margin-bottom: 88px;
}

.ea-content3{
    background-color: black;
    height: 80px;
    width: 323px;
}

.japon-content{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    margin: 0 161px;
}