*{
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.primera-linea{
    display: flex;
}

.segunda-linea{
    display: flex;
}

.flag{
    height: 250px; 
    width: 425px;
    border: solid red 1px;
    margin: 30px;
    display: flex;
}

.dinamarca-order{
    display: block;
}

.espana{
    background-color: red;
}

.espana-content{
    background-color: yellow;
    height: 100px;
    width: 100%;
    align-self: center;
}

.dinamarca{
    background-color: #ffff;
    display: inline-flex;
    }

.dinamarca-content1{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 130px;
    
}

.dinamarca-content2{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 240px;
    margin-left: 53px;
}

.dinamarca-content3{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 130px;
    margin-top: 44px;
}

.dinamarca-content4{
    background-color: rgb(223, 36, 3);
    height: 100px;
    width: 240px;
    margin-left: 53px;
    margin-top: 44px;
}

.japon{
    
}